:root {
  --scale-x: 1;
  --pos-x: 0.5;
  --pos-y: 0.5;
  --pos-x-from-center: 0;
  --pos-y-from-center: 0;
  --body-rotation: calc(var(--pos-x-from-center) * 5deg);

  --color-skin-light: #81b22d;
  --color-skin-medium: #6d9638;
  --color-skin-dark: #475e29;
  --color-skin-belly: #e7e7e7;
  --color-dark: #002522;
  --color-feet: #faa70e;
  --color-eyeball: #e4e4e4;
  --color-shadow: rgba(0, 0, 100, 0.075);
}

.frog {
  position: fixed;
  width: 100px;
  bottom: 5%;
  right: 5%;
  z-index: 1;
  animation: appear 1.5s ease-out, bounce 2s ease-in-out 1.5s infinite;

  @media screen and (min-width: 768px) {
    width: 200px;
    bottom: 10%;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 30%;
  }
}

.body {
  --body-rotation: calc(var(--pos-x-from-center) * 5deg);
  width: 40%;
  height: 100%;
  position: absolute;
  bottom: -5%;
  left: 50%;
  background: linear-gradient(var(--color-shadow), var(--color-shadow)),
    linear-gradient(var(--color-shadow), var(--color-shadow)),
    var(--color-skin-belly);
  transform: translateX(-50%) rotate(var(--body-rotation));
  border-bottom-left-radius: 50% 200%;
  border-bottom-right-radius: 50% 200%;
  animation: infinite body-breathing 2000ms ease;
  box-shadow: 0 0 100px 10px black;
}

.leg {
  width: 15%;
  height: 150%;
  position: absolute;
  border-radius: 100% 100% 0 0;
  z-index: -1;
  bottom: 0;
  background: var(--color-skin-dark);
}

.leg.left {
  --leg-bg-direction: to left;
  left: 40%;
  transform: rotate(calc(((var(--pos-x-from-center) * 15) - 70) * 1deg));
  transform-origin: bottom left;
}

.leg.right {
  --leg-bg-direction: to right;
  right: 40%;
  transform: rotate(70deg);
  transform: rotate(calc(((var(--pos-x-from-center) * 15) + 70) * 1deg));
  transform-origin: bottom right;
}

.foot {
  position: absolute;
  inset: var(--foot-inset);
  height: 110%;
  width: 40%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 68%;
    background: var(--color-skin-dark);
    width: 100%;
    padding-top: 100%;
    padding-bottom: 80%;
  }
}

.left .foot {
  bottom: 0;
  transform: bottom left;

  &:after {
    right: 50%;
    bottom: 0;
    border-radius: 80% 0 0 100%;
  }
}

.right .foot {
  bottom: 0;
  right: 0;
  transform: bottom right;

  &:after {
    left: 50%;
    bottom: 0;
    border-radius: 0 100% 80% 0;
  }
}

.arm {
  --elbow-rotation: 0;
  --offset: 10%;
  width: 10%;
  height: 50%;
  background: var(--color-skin-light);
  position: absolute;
  top: 75%;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    width: 60%;
    height: 170%;
    background: var(--color-skin-light);
    transform: rotate(45deg);
    transform: rotate(var(--elbow-rotation));
    border-radius: 25% 25% 100% 100%;
  }
}

.left.arm {
  --arm-rotation: calc(var(--pos-x-from-center) * -10deg);
  --arm-gradient-direction: to right;
  --elbow-rotation: calc((var(--pos-x-from-center) + 60) * 1deg);
  left: var(--offset);
  border-radius: 50% 0 0 50%;
  transform: rotate(var(--arm-rotation));

  &:before {
    left: 0;
    transform-origin: bottom left;
  }
}

.right.arm {
  --arm-rotation: calc(var(--pos-x-from-center) * 10deg);
  --arm-gradient-direction: to left;
  --elbow-rotation: calc((var(--pos-x-from-center) + 60) * -1deg);
  right: var(--offset);
  border-radius: 0 50% 50% 0;
  transform: rotate(var(--arm-rotation));

  &:before {
    right: 0;
    transform-origin: bottom right;
  }
}

.hand {
  width: 100%;
  padding-top: 100%;
  background: var(--color-feet);
  position: absolute;
  top: 50%;
  transform: var(--hand-rotation);
  z-index: -2;
}

.left .hand {
  --hand-rotation: rotate(calc((var(--pos-x-from-center) + 10) * -2deg));
  right: 0;
  border-radius: 100% 0 0 0;
  transform-origin: top right;
}

.right .hand {
  --hand-rotation: rotate(calc((var(--pos-x-from-center) - 10) * -2deg));
  left: 0;
  border-radius: 0 100% 0 0;
  transform-origin: top left;
}

.finger {
  height: 200%;
  width: 40%;
  background: var(--color-feet);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20%;
  transform-origin: top center;

  &:after {
    content: "";
    display: block;
    width: 150%;
    padding-top: 150%;
    background: var(--color-feet);
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 -0.5vw 0 0.25vw var(--color-shadow);
  }

  &:first-child {
    height: 150%;
    transform: rotate(30deg);
  }

  &:last-child {
    height: 150%;
    transform: rotate(-30deg);
  }
}

.head {
  --head-translation: calc(var(--pos-y-from-center) * -10%);
  width: 40%;
  padding-top: 20%;
  color: var(--color-skin-light);
  background: var(--color-skin-medium);
  border-radius: 25% 25% 0 0;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(var(--head-translation))
    rotate(calc(var(--pos-x-from-center) * 10deg));

  &:before {
    content: "";
    display: block;
    width: 120%;
    height: 75%;
    background: linear-gradient(var(--color-shadow), var(--color-shadow)),
      var(--color-skin-belly);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 100% 100% 30% 30%;
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    animation: infinite lower-lip-breathing 2000ms ease-in-out;
  }

  &:after {
    content: "";
    display: block;
    width: 150%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20%/50%;
    border-bottom-left-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
    box-shadow: inset 0 -0.5vw 0 0.25vw var(--color-skin-belly);
    background: no-repeat bottom 30% left 45% / 6% 30%
        radial-gradient(
          var(--color-skin-medium),
          var(--color-skin-medium) 50%,
          transparent 50%
        ),
      no-repeat bottom 30% right 45% / 6% 30%
        radial-gradient(
          var(--color-skin-medium),
          var(--color-skin-medium) 50%,
          transparent 50%
        ),
      var(--color-skin-light);
  }
}

.eyes {
  width: 140%;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.eye {
  width: 30%;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}

.eyelid {
  content: "";
  display: block;
  color: var(--color-skin-light);
  background: currentColor;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    top: 0;
    padding-top: 100%;
    background: currentColor;
  }
}

.left .eyelid {
  left: 50%;
  border-top-right-radius: 100%;

  &:before {
    right: 100%;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
  }
}

.right .eyelid {
  right: 50%;
  border-top-left-radius: 100%;

  &:before {
    left: 100%;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
  }
}

.eyeball {
  width: 100%;
  background: var(--color-skin-light);
  border-radius: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  z-index: 1;
  animation: infinite blink 6000ms ease-out;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-radius: 100%;
    background: no-repeat
      radial-gradient(
        var(--color-eyeball),
        var(--color-eyeball) 62%,
        var(--color-dark) 62%
      );
    box-shadow: inset -0.5vw -0.5vw 0 0.5vw var(--color-shadow);
    z-index: -1;
    overflow: hidden;
  }
}

.pupil {
  --pupil-pos-x: calc(clamp(20, calc(var(--pos-x) * 100), 80) * 1%);
  --pupil-pos-y: calc(clamp(40, calc(var(--pos-y) * 100), 60) * 1%);
  display: block;
  width: 40%;
  height: 40%;
  background: var(--color-dark);
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: var(--pupil-pos-y);
  left: var(--pupil-pos-x);
  transform: translate(-50%, -50%) rotate(-45deg) scale(var(--scale-x));
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 10%;
    left: 80%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
  }
}

@keyframes blink {
  0%,
  94% {
    transform: rotateX(0);
  }
  98% {
    transform: rotateX(90deg);
  }
}

@keyframes lower-lip-breathing {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  35%,
  65% {
    transform: translate(-50%, 5%);
  }
}

@keyframes body-breathing {
  0%,
  100% {
    transform: translate(-50%, 0) scale(1) rotate(var(--body-rotation));
  }
  35%,
  65% {
    transform: translate(-50%, 0%) scale(1.05, 1) rotate(var(--body-rotation));
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (pointer: coarse) {
  .pupil,
  .leg,
  .foot,
  .arm,
  .arm:before,
  .hand,
  .body,
  .head {
    transition: all 500ms ease;
  }
}
